.card{
    /* display: flex; */
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
    flex-direction: row-reverse
}
button{
    background-color: aqua;
    font-size: 25px;
}