.container{
  display: flex;
  align-items: center;
  justify-content: center
  
  
}
body{
  margin: 0;
  padding: 0;
  height: 100vh; /* ارتفاع صفحه برابر با ارتفاع مشاهده‌کننده */
  display: flex;
  justify-content: center; /* قرار دادن افقی در وسط صفحه */
  align-items: center; /* قرار دادن عمودی در وسط صفحه */
  background-color: #f0f0f0; /* پس‌زمینه صفحه */ 
}